.section-services-languages {
  padding: 8rem 0;
}

.section-about-us {
  padding: 8rem 0;
  background: linear-gradient(90deg,
  rgba(67,66,233,.7) 0%,
  rgba(199,17,79,.7) 100%);

  .heading-two,
  .paragraph {
    color: $color-white;
  }
}

.section-prices {
  padding: 8rem 0;
}